/*HEADER CSS*/

.header{
    display: flex;
    flex-direction: row;
    background-color: var(--main-band-color)
  }
  
  .header__nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .header__options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  
  .header__options li{
    padding: 0 5rem;
    font-size: 3rem;
    align-self: center;
  }

  .header__options li button{
    transition: all .5s ease;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border: none;
  }

  .header__options li button:hover{
    color: var(--main-band-color);
    background-color: #fff;
    cursor: pointer;
  }

  .header__shopping-cart-icon{
    font-size: 3rem;
  }
  
  .logo__image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  
  .header__title{
    padding: 1%;
    font-size: 4rem;
    align-self: center;
  }
  
  /***************/