/* .ins-FriendSuggestions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */



.ins-followCard {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}


.ins-followCardHeader{
    display: flex;
    align-items: center;
    gap: 4px
}

.ins-followCardInfo{
    display: flex;
    flex-direction: column;
}

.ins-followCardAvatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.ins-followCard-Username {
    color: gray;
}

.ins-followCard-Button {
    background-color: black;
    color: #0095f6;
    margin: 10px;
    border: 0;
}

.ins-followCard-Button.is-following {
    background-color: black;
    color: grey;

}

.ins-followCard-Button:hover{
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}