@font-face {
  font-family: "Kayana-demo";
  src: local("Kayana-demo"),
    url("./Fonts/Kayana-demo.otf") format("opentype");
}




/*GENERAL CSS FOR PAGE*/
#root{
  --main-band-color:#8b4513;
  --main-background-color:#D2B48C;
  --main-footer-color:#DEB887;
  --main-menu-color:#C19A6B;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0)
}

html{
font-size: 62.5%;
font-family: "Kayana-demo", serif;
}

button{
  font-family: "Bebas Neue", serif;
}

body{
background-color: var(--main-background-color);
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
min-height: 100vh;
}

/*****************/


